.mainComponent {
  #add-employee-btn {
    .glyphicon {
      position: relative;
      top: 3px;
      padding-right: 5px;
    }
  }
  table tbody tr td span.glyphicon {
    padding-right: 5px;
    &.glyphicon-edit:hover {
      color: #31708f;
      cursor: pointer;
    }
    &.glyphicon-trash:hover {
      color: #a94442;
      cursor: pointer;
    }
  }
}
