.employeeModalComponent {
  width: 100%;
  #nameBlock {
    justify-content: space-between;
    #firstNameInputGroup, #lastNameInputGroup {
      width: calc(50% - 70px);
    }
    #middleInitialInputGroup {
      width: 120px;
    }
  }
  #emailAndPhoneNumberBlock, #positionAndDateHiredBlock {
    justify-content: space-between;
    #positionCategoryGroup, #dateHiredGroup, #emailGroup, #phoneGroup {
      width: calc(50% - 5px);
    }
  }
  #cityStateZipBlock {
    justify-content: space-between;
    #cityInputGroup, #stateInputGroup, #zipCodeInputGroup {
      width: calc(33% - 5px);
    }
  }
  span.asterisk:after {
    color: #a94442;
    content: "*";
  }
}
